/* stili genrali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'PT Sans', sans-serif;
}

.item-flex{
    display: flex;
}

.contenitore{
    width: 90%;
    margin: auto;
    /* text-align: center; */
}

.colorata{
    background-color: #c4a3ff;
}

section{
    padding: 20px 0;
}

.stretto img{
  width: 100%;
}

.testo-colorato{
    color: #c4a3ff;
}

/* iizio header */

header{
    background-color:#2e3df6;
    margin-bottom: 30px;
}
/* caratteristiche nav */
nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav i{
    font-size: 30px;
    color: white;
}

#bottone-nav{
    padding: 5px 10px ;
    background-color: white;
    text-decoration: none;
    border-radius: 25px;
    color: black;
}
/* parte nascosta dentro nav */

#nascosto {
    display: none;
}
/* caratteristiche  main */

/* sezione 1 */

.items-contenitore{
    text-align: center;
}

.items-contenitore img{
    width: 100%;
}

.item, #anomalo{
    background-color: #6ec9ff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.items-contenitore h3{
    color: blue;
    margin: 10px 0;
}

.items-contenitore i{
    font-size: 40px;
    color: blue;
}

#anomalo i{
    font-size: unset;
    color: white;
    margin-right: 5px;
}

.bottone-standart{
    padding: 5px 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin: 15px ;
    display: inline-block;
}

/* sezione 2 */

.sez2 img{
   width: 100%;
}

#app-development{
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

#app-development i{
    background-color: #c4a3ff;
    padding: 10px;
    border-radius: 50%;
}

#strategic-plant{
    color: white;
    margin-right: 20px;
    margin-top: 20px;
}

.sez2 p{
    margin: 30px 0;
}

/* sezione 3 */

.sez3{
    text-align: center;
}

.sez3>div{
    margin: 20px 0;
    border-radius: 20px;
    color: white;
    padding: 20px ;
}

.sez3 img, .sez5 img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.sez3 .testo-colorato{
    margin: 20px 0;
}

/* sezione 4 */
.item-sez4{
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.sez4>h3{
    margin: 20px 0;
    text-align: center;
    color: white;
}

.item-sez4>h3{
    margin: 10px 0px;
}

.sapere-di-noi{
    background-color: #aa81f1;
    color: white;
    border-radius: 25px;
    padding: 5px 20px;
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
}

/* sezione 5 */
.sez5>.stretto{
    position: relative;
}

.stretto i{
    font-size: 40px;
    color: #aa81f1;
    position: absolute;
    left: 90px;
}

.sez5 p{
    margin: 20px 0;
}

/* sezione 6  */

.inizia-iscrizione{
    color: white;
    text-align: center;
}

.inizia-iscrizione>h1{
    color: yellow;
    margin: 10px 0;
    font-size: 50px;
}

#bottone-inizia{
    color: #aa81f1;
    background-color: white;
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

#sfocatura{
    color: rgba(255, 255, 255, 0.532);
    margin-bottom: 10px;
}
/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer p{
    margin-bottom: 20px;
}

/* media dispostitivi tablet e piu grandi */
@media all and (min-width:480px) {
    /* caratteristiche contenitore sezione 1 main */
    .items-contenitore{
        display: flex;
    }

    #anomalo{
       flex-grow: 1;
       margin: 10px;
       text-align: left;
    }

    .item{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    /* caratteristiche contenitore sezione 3 main */
    .sez3>div{
        display: flex;
        align-items: center;
        padding: 20px ;
    }
    .stretto{
        width: 30%;
        text-align: left;
    }
    .largo{
        width: 70%;
        text-align: left;
    }
    /* caratteristiche contenitore  sezione 4 */
    .sez4>div{
        display: flex;
        flex-wrap: wrap;
    }
    .item-sez4{
       width: calc(100% / 2 - 20px);
       margin-left: 20px;
    }
    /* caratteristiche contenitore sezione 5 */
    .sez5{
        display: flex;
    }
    .sez5>.stretto{
        padding-left: 30px;
    }
    /* sezione6 e footer*/
    .inizia-iscrizione, .note {
        width: 50%;
        margin: 0 auto;
    }
}  

/* media dispositivi desktop e piu grandi*/
@media all and (min-width:768px) {
    /* caratteristiche contenitore */
    .contenitore{
        width: 70%;
        margin: auto;
    }

    /* parte nav */
    #nascosto {
        display: block;
    }

    #nascosto li{
        margin: 0px 10px;
        list-style: none;
        color: rgba(255, 255, 255, 0.587);
    }

    #item-nascosto{
        display: none;
    }
    /* caratteristiche contenitore seione 1 main*/
    #anomalo{
        display: flex;
    }
    #application{
        width: 60%;
    }
    #contenitore-img{
        width: 40%;
    }

    /* caratteristiche contenitore sezione 2 main */
    .sez2{
        display: flex;
        align-items: end;
    }
    /* caratteristiche contenitore sezione 4 main */
    .item-sez4{
        width: calc(100% / 3 - 20px);
    }
    /* sezione6 e footer*/
     .inizia-iscrizione, .note {
        width: 50%;
         margin: 0 auto;
     }
}

