/* stili genrali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    font-family: 'PT Sans', sans-serif;
}

.contenitore{
    width: 90%;
    margin: auto;
}

/* parti colorate pagina */
.bg-colorato{
    background-color: #9792e4;
}

.testo-colorato{
    color: #9792e4;
}

section{
    padding: 30px 0;
}

h2{
    font-size: 30px;
    margin: 20px 0;
}

/* iizio barra di ricerca utente  */

header{
    background-color:#0084fd;
    margin-bottom: 30px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 500;
}
/* caratteristiche nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav i, .testimonianze i{
    font-size: 25px;
    color: white;
}

#bottone-nav{
    padding: 5px 10px ;
    background-color: white;
    text-decoration: none;
    border-radius: 25px;
    color: black;
}
/* parte nascosta dentro nav */

#nascosto {
    display: none;
}
/* caratteristiche  main */
main{
    padding-top: 60px;
}
/* inizio utilizzi */

.contenitore-items, .testimonianze{
    text-align: center;
}

.item, #anomalo{
    background-color: #b5ddff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.contenitore-items h3{
    color: #0988fd;
    margin: 10px 0;
}

.item i{
    font-size: 40px;
    color: #0988fd;
}

#bottone-app{
    padding: 5px 30px;
    background-color: #0988fd;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    margin: 15px ;
    display: inline-block;
}

/* caratteristiche anomalo */

#anomalo{
    padding: 20px 20px 0px;
}

#contenitore-img{
    display: flex;
    align-items: end;
}

#anomalo i{
    color: white;
    margin-right: 5px;
}
/* immagine pianificazione  */
#anomalo img, .pianificazione img{
    width: 100%;
}

/* sezione pianificazione e development  */
#app-development{
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#app-development i{
    background-color: #9792e4;
    padding: 10px;
    border-radius: 50%;
}

#strategic-plant{
    color: white;
}

.pianificazione p{
    margin: 30px 0;
}

/* testimonianze */
/* centratura testimonianze sopra con utilizzi */

.testimonianze>div{
    margin: 20px 0;
    border-radius: 20px;
    color: white;
    padding: 20px ;
}

.testimonianze img, .chi-siamo img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}
/* caratteristiche i dentro testimonianze in caratteristiche nav */
/* inizio benefici di lavorare con noi */
.col{
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

.benefici>h2{
    margin: 20px 0;
    text-align: center;
    color: white;
}   

.col>h3{
    margin: 10px 0px;
}

.sapere-di-noi{
    background-color: #9792e4;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px 0px;
    display: inline-block;
}

/* inizio chi siamo */
#dipendente{
    position: relative;
}

.stretto i{
    font-size: 40px;
    color: #aa81f1;
    position: absolute;
    left: 80px;
}

.chi-siamo p{
    margin: 20px 0;
}

.sapere-di-noi>span{
    color: #aa81f1;
    background-color: white;
    margin-right: 10px;
}

.chi-siamo h2{
    font-size: 40px;
}
/* caratteristiche immagine dentro a testimonianze */
/* inizio iscrizione  */

#inizia-iscrizione{
    color: white;
    text-align: center;
}

#inizia-iscrizione>div{
    color: #fdc15f;
    margin: 10px 0;
    font-size: 50px;
}

#bottone-inizia{
    color: #aa81f1;
    background-color: white;
    padding: 10px 30px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 0;
    text-decoration: none;
}

#sfocatura{
    color: rgba(255, 255, 255, 0.532);
    margin-bottom: 10px;
}
/* footer */
footer{
    background-color: #000000c4;
    color: white;
    text-align: center;
}

footer p{
    margin-bottom: 20px;
}

/* media dispostitivi tablet e piu grandi */
@media all and (min-width:480px) {
    /* caratteristiche utilizzi */
    .contenitore-items{
        display: flex;
    }
    #anomalo{
       width: calc((100% / 3 - 10px) * 2);
       margin: 10px;
       text-align: left;
    }
    .item{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    #contenitore-img img{
        width: 60%;
    }
    #strategic-plant h3{
        font-size: 30px;
    }
    /* caratteristiche testimonianze  */
    .testimonianze>div{
        display: flex;
        align-items: center;
        padding: 20px ;
    }
    /* caratteristiche spazio immagine e testo in largo testo e in stretto l'immagine */
    .stretto{
        width: 25%;
        text-align: left;
    }
    .largo{
        width: 75%;
        text-align: left;
    }
    /* caratteristiche benefici di lavorare con noi */
    .benefici>div{
        display: flex;
        flex-wrap: wrap;
    }
    .col{
       width: calc(100% / 2 - 20px);
       margin-left: 20px;
    }
    /* caratteristiche chi siamo */
    .chi-siamo{
        display: flex;
    }
    .chi-siamo>.stretto{
        padding-left: 20px;
    }
    /* caratteristiche di iscrizione e footer*/
    #inizia-iscrizione, #note {
        width: 50%;
        margin: 0 auto;
    }
}  

/* media dispositivi desktop e piu grandi*/
@media all and (min-width:768px) {
    /* caratteristiche contenitore */
    .contenitore{
        width: 70%;
        margin: auto;
    }
    /* caratteristiche  nav */
    #nascosto {
        display: block;
    }
    #nascosto ul{
        display: flex;
    }
    #nascosto li{
        margin: 0px 10px;
        list-style: none;
        color: rgba(255, 255, 255, 0.587);
    }
    #item-nascosto{
        display: none;
    }
    /* caratteristiche utilizzi*/
    #anomalo{
        display: flex;
    }
    #contenitore-img img{
        width: 100%;
    }
    /* caratteristiche pianificazione e development  */
    .pianificazione{
        display: flex;
        align-items: end;
        width: 60%;
    }
    #strategic-plant h3{
        font-size: 1.17rem;
    }
    #strategic-plant{
        padding-right: 30px;
    }
    /* caratteristiche benefici di lavorare con noi*/
    .col{
        width: calc(100% / 3 - 20px);
    }
}