/* stili genrali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.item-flex{
    display: flex;
}

.contenitore{
    width: 90%;
    margin: auto;
    text-align: center;
}

.colorata{
    background-color: blueviolet;
}

section{
    padding: 20px 0;
}

/* iizio header */

header{
    background-color: aqua;
    margin-bottom: 30px;
}
/* caratteristiche nav */
nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav i{
    font-size: 30px;
    color: white;
}
/* parte nascosta dentro nav */

#nascosto {
    display: none;
}
/* caratteristiche  main */

/* sezione 1 */

.items-contenitore{
    text-align: center;
}

.items-contenitore img{
    width: 100%;
}

.item{
    background-color: blue;
    margin-bottom: 20px;
}

/* sezione 2 */

.sez2 img{
    width: 100%;
}

#bianca{
    background-color: white;
    padding: 10px;
}

/* sezione 3 */

.sez3 img{
    width: 100%;
}

.sez3>div{
    margin: 20px 0;
}

/* media dispostitivi tablet e piu grandi */
@media all and (min-width:480px) {
    /* caratteristiche contenitore sezione 1 main */
    .items-contenitore{
        display: flex;
    }

    #anomalo{
       flex-grow: 1;
       margin: 10px;
    }

    .item{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    /* caratteristiche contenitore sezione 3 main */
    .sez3>div{
        display: flex;
    }
    .stretto{
        width: 40%;
    }
    .largo{
        width: 60%;
        text-align: left;
    }
    /* caratteristiche contenitore  sezione 4 */
    .sez4>div{
        display: flex;
        flex-wrap: wrap;
    }
    .item-sez4{
        width: 50%;
    }
}  

/* media dispositivi desktop e piu grandi*/
@media all and (min-width:768px) {
    /* caratteristiche contenitore */
    .contenitore{
        width: 70%;
        margin: auto;
    }

    /* parte nav */
    #nascosto {
        display: block;
    }

    #nascosto li{
        margin: 0px 10px;
        list-style: none;
    }

    #item-nascosto{
        display: none;
    }
    /* caratteristiche contenitore seione 1 main*/
    #anomalo{
        display: flex;
    }

    /* caratteristiche contenitore sezione 2 main */
    .sez2{
        display: flex;
    }
    /* caratteristiche contenitore sezione 4 main */
    .item-sez4{
        width: calc(100% / 3);
    }
}

